# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: cf416e18a50bab604ce958bcb2f72a3e1895972956841a05439c065a3ed674b026103410d5271759a9944e0571be4ef88ea119f938b343dfade6508a4ece6993

test:
  secret_key_base: 3e9ce834fd4bdc120b396f308291fe2d5988129f0420ff5669b99204ed580575b44b24a1e48b1ed8f638a376463729abbd82f4bef6ffaeffd4e83fd0f412821f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
